/*
COLUMN SIZING --------------------
*/

.grid {
	position: relative;
	display: block;
	width: 100%; height: auto;
	
	//Desktop Grid
	@include grid-generator(12, $one-column_lg, $gutter_lg, lg);
	.gutter_lg { width: $gutter_lg; }
	.gutter-margin-right_lg { margin-right: $gutter_lg; }
	.gutter-margin-right_lg:last-child { margin-right: 0px !important; }

	//Mobile Grid
	@media only screen and (max-width: 768px) {
		@include grid-generator(4, $one-column_sm, $gutter_sm, sm);
		.gutter_sm { width: $gutter_sm; }
		.gutter-margin-right_sm { margin-right: $gutter_sm; }
		.gutter-margin-right_sm:last-child { margin-right: 0px !important; }
	}
	
}

/*
DIV / IMG / VIDEO ------------------
*/

img, video, svg {
	display: block;
	width: 100%; height: auto;
}

div {
	position: relative;
	display: block;
}

//Full Bleed Image / Video
img.full-bleed-image,
video.full-bleed-video {
	position: absolute;
	width: 100%; height: 100%;
	top: 0%; left: 0%;
	object-fit: cover;
	object-position: 50% 50%;
	pointer-events: none;
}

/*
LOADING OVERLAY(S) ------------------
*/

//Loading Overlay
.loading-overlay {
	position: absolute;
	width: 100%; height: 100%;
	top: 0; left: 0;
	z-index: 5;
	background-color: rgba(253,252,248,0.2);
	backdrop-filter: blur(50px);
	transition: opacity 600ms cubic-bezier(0.25,0.1,0.25,1);
	will-change: opacity;
	
	//Hidden
	&.hidden {
		opacity: 0;
		pointer-events: none;
	}
	
}

//Flickity Image Loaded
.image-loaded {
	.loading-overlay {
		opacity: 0;
		pointer-events: none;
	}
}

/*
VIDEO CONTENT ------------------
*/

//Video Placeholder
.video-placeholder {
	position: absolute;
	width: 100%; height: 100%;
	top: 0; left: 0;
	@extend %background-cover;
	z-index: 10;
	transition: opacity 400ms cubic-bezier(0.25,0.1,0.25,1);
	will-change: opacity;
	
	//Hidden
	&.hidden {
		opacity: 0;
		pointer-events: none;
	}
	
}

/*
CONTENT WRAPS ------------------
*/

.outer-content-wrap {
	position: relative;
	@include calc( width, '100% - #{get-rem-desktop(20)}');
	margin: 0 auto;
	z-index: 1;
	
	@media only screen and (max-width: 768px) {
		@include calc( width, '100% - #{get-rem-mobile(40)}');
	}
	
}